<template name="login">



  
  <div id="loginBox">
    <div id="loginBox2">
      <form id="loginForm"class="navbar-form pull-right" action="/">      
          <input id="emailBox" class="span3" type="text" placeholder="Email" autofocus='autofocus'>
          <input id="passwdBox"  class="span3" type="password" placeholder="Password" >          
          <input id="signIn" type="submit" class="btn btn-info" value="Sign In">
      </form>
      <div id="auxLinks"><a id="createAccount" href="signUp">Create Account</a></div>
    </div>
  </div>
  

  
  
</template>