<template name="signUp">

<header>
 <nav class="navbar  navbar-inverse navbar-fixed-top"  role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ITBrand</a>
      </div>
      
    </div>
</nav>

</header>


  
  <div id="loginBox">
    <div id="loginBox2">
      <form id="signUpForm" role="form"  action="/">
        <b>Thanks for joining us.</b><br>
          <div class="form-group">
            <!-- <input id="emailBox" class="span3" type="text" placeholder="Email" autofocus='autofocus'> -->
            <input id="emailBox" type="email" class="form-control" placeholder="Enter email" autofocus='autofocus'>
          </div>
          <div class="form-group">
            <!-- <input id="passwdBox"  class="span3" type="password" placeholder="Password" > -->
            <input id="passwdBox" type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <!-- <input id="passwd2Box"  class="span3" type="password" placeholder="Confirm Password" > -->
            <input id="passwd2Box" type="password" class="form-control" placeholder="Confirm Password">  
          </div>
          <div class="form-group">
            <input id="role" type="text" class="form-control" placeholder="Role" list="roles"/>
            <datalist id="roles">
              <option value="Analyst"></option>
              <option value="Operator"></option>
              <option value="Incident  Owne"></option>
              <option value="Incident  Manager"></option>
              <option value="End User"></option>
            </datalist>
          </div>
          <div class="form-group">
            <button id="signUp" type="submit" class="btn btn-info">Sign Up</button>
          </div>
          
      </form>      
    </div>
  </div>
   



</template>